[submodule "Portfolio"]
	path = Portfolio
	url = git@github.com:Zaibbee69/Portfolio.git
[submodule "Todo-List-App"]
	path = Todo-List-App
	url = git@github.com:Zaibbee69/Todo-List-App.git
[submodule "FARAS-Car-Insurance"]
	path = FARAS-Car-Insurance
	url = git@github.com:Zaibbee69/FARAS-Car-Insurance.git
[submodule "MovieWind"]
	path = MovieWind
	url = git@github.com:Zaibbee69/MovieWind.git
[submodule "Missing-Persons-and-Crime-Pattern-Tracking-System"]
	path = Missing-Persons-and-Crime-Pattern-Tracking-System
	url = git@github.com:Zaibbee69/Missing-Persons-and-Crime-Pattern-Tracking-System.git
[submodule "hidden-object-game"]
	path = hidden-object-game
	url = git@github.com:Zaibbee69/hidden-object-game.git
