{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} 

Login 

{% endblock title %}

{% block stylers %}

<link href="{% static "auctions/login.css" %}" rel="stylesheet">

{% endblock stylers %}

{% block body %}

    <div class="form-holder">
        <h2 class="form-header">Login</h2>
    </div>

    {% if message %}
        <div class="error-message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="form-holder">

            <div class="form-item-holder">
                <input autofocus class="form-light" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-item-holder">
                <input class="form-dark" type="password" name="password" placeholder="Password">
            </div>
            <input class="submit-button" type="submit" value="Login">

        </div>
    </form>

    <div class="error-message">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}